html, body{
  height:100%;
  margin:0;
  padding:0
}

.application {
  height: 300px;
  width: 300px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  border-radius: 10%;
  cursor: pointer;
}

.application .icon {
  height: 50%;
  width: 50%;
  display: inline-block;
  background-size: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.application h1 {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
}

.app-container {
  border: none;
}

.zoom {
  position: absolute;
}

.gradient {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
