html, body{
  height:100%;
  margin:0;
  padding:0
}

.application {
  height: 300px;
  width: 300px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  border-radius: 10%;
  cursor: pointer;
}

.application .icon {
  height: 50%;
  width: 50%;
  display: inline-block;
  background-size: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.application h1 {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
}

.application-container{
  background-color: white;
  border-radius: 5px;
  margin: 0 50px;
  border: 1px solid #ccc;
}

.application-header {
  padding: 10px 10px 5px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.application-header h2 {
  margin: 2px;
  font-size: 24px;
}

.application-header .close-icon{
  position: absolute;
  height: 30px;
  right: 20px;
  top: 7px;
}

.app-container {
  border: none;
}

.zoom {
  position: absolute;
  right: 50px;
  display: block;
  text-align: center;
  font-size: 2em;
}

.zoom span {
  cursor: pointer;
  display: block;
  background-color: #a6a6a6;
  color: white;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
}

.navbar.navbar-custom {
  background-color: #4388ac;
  color: rgba(255,255,255, 0.84);
}

.gradient {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
