<div class="container container-fluid">
  <span class="zoom">
    <span ng-click="main.zoom(2)">+</span>
    <span ng-click="main.zoom(-2)">-</span>
  </span>
  <div class="row centering" ng-if="!main.currentApp">
    <div class="col-md-4 col-sm-6 " ng-repeat="app in main.applications">
      <div class="application gradient" ng-style="{'background-color': app.color}" ng-click="main.openApp(app.id)">
        <span class="icon" ng-style="{'background-image': 'url('+app.imageUrl+')'}"></span>
        <h1>{{::app.title}}</h1>
      </div>
  </div>
  <div class="container" ng-if="main.currentApp">
    <application current="main.currentApp"></application>
  </div>
</div>
